# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# TypeScript
dist/
*.tsbuildinfo

# Optional OS or editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
